.chat-main__form__input-box
  .chat-main__form__input-box--text  
  .chat-main__form__input-box--image
    = fa_icon 'image'
    .chat-main__form__input-box--image--image-file
  .chat-main__form__input-box--submit-btn
    Send


-# .chat-main__form__new-message
-#   .chat-main__form__new-message__input-box
-#     .chat-main__form__new-message__input-box--text
-#     .chat-main__form__new-message__input-box--image
-#       = fa_icon 'image'
-#       .chat-main__form__new-message__input-box--image--image-file
-#     .chat-main__form__new-message__input-box--submit-btn
-#       Send