.chat-side__header__box
  .chat-side__header__box__user-name
    test
  .chat-side__header__box__menu
    .chat-side__header__box__menu--new-group
      = fa_icon 'edit'
    .chat-side__header__box__menu--edit-user
      = fa_icon 'cog'