.chat-main__header__left-box
  .chat-main__header__left-box--current-group
    sample
  .chat-main__header__left-box--member-list
    .chat-main__header__left-box--member-list--member
      Member: sample
.chat-main__header__edit-btn
  Edit