.chat-main__header__left-box
  .chat-main__header__left-box--current-group
    sample-team
  .chat-main__header__left-box--member-list
    .chat-main__header__left-box--member-list--member
      Member: test, test, test, test, aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
.chat-main__header__edit-btn
  Edit