.chat-main__messages__message
  .chat-main__messages__message__upper-info
    .chat-main__messages__message__upper-info--talker
      sample
    .chat-main__messages__message__upper-info--date
      2019/09/22(Sun) 20:58:29
  .chat-main__messages__message__text
    sample