* {
  box-sizing: border-box;
}

.flash-box {
  background-color: #38AEF0;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
  width: 100vw;
}

.chat-side {
  width: 300px;
  height: 100%;
  color: #ffffff;
  float: left;
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
}