@import "variables";

.chat-main__form {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  bottom: 0;
  box-sizing: border-box;
  &__input-box {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    &--new-message {
      display: flex;
      &--text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      &--image {
        font-size: 1.3rem;
        position: absolute;
        top: 30%;
        right: 120px;
        display: flex;
        cursor: pointer;
        .hidden {
          @include invisible-text;
        }
      }
      &--submit-btn {
        position: absolute;
        right: 0;
        width: 100px;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $btn-color;
        color: white;
        cursor: pointer;
      }
    }

  }
}
