.chat-side__groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  overflow: scroll;
  &__group {
    font-weight: bold;
    margin-bottom: 40px;
    &--group-name {
      font-size: 15px;
      margin-bottom: 5px;
    }
    &--latest-message {
      font-size: 11px;
    }
  }
}